.main-header {
    position: relative;
    max-height: 800px;
    .header-data {
        width: 100%;
        position: relative;
        .pew-research {
            width: 100%;
            max-height: 700px;
            object-fit: cover;
            filter: brightness(30%) grayscale(.5);
        }
    }
    .header-details {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 35px;
        width: 100%;
    }
}



@keyframes fadeOut {
    100% { opacity: 0; }
    0% { opacity: 1; }
  }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.quoteText {
    font-size: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.quote {
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    width: 80%;
}
.quote:hover .mark-highlight {
    transition: ease-in-out .3s;
    opacity: 100%;
    background-color: yellow;
}
.mark-highlight {
    background-color: white;
}


.start-quote {
    font-size: 30px !important;
    height: 80px !important;
    -webkit-transform:rotateY(180deg);
}

.end-quote {
    height: 80px !important;
    font-size: 30px !important;
}

.quote-wrapper {
    padding-top: 2rem;
    margin-top: -5rem;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
}

.quotes {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

