.header-wrapper {
    .heading-main-articles {
        position: relative;
        text-align: center;
        overflow: scroll;
        .heading-image-container {
            width: 100%;
            .trump-image {
                width: 100%;
                max-height: 1200px !important;
                object-fit: cover;
                filter: grayscale(0.8) brightness(0.5);
            }
        }
        .loading {
            color: white;
            font-size: 25px;
        }
        .centered-stats {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            .header-title {
                font-size: 60px;
                color: white;
                font-weight: 800;
            }
            .articles-container {
                padding-top: 2rem;
                margin: auto;
                overflow-y: auto !important;
            }
        }
        .centered {
            overflow: scroll;
        }
    }
}

@media only screen and (max-width: 1550px) {
    .header-wrapper {
        overflow: hidden;
        .heading-main-articles {
            position: relative;
            text-align: center;
            height: 800px;
            overflow: hidden;
            .heading-image-container {
                width: 100%;
                .trump-image {
                    width: 100%;
                    object-fit: cover;
                    max-height: 800px;
                    filter: grayscale(0.8) brightness(0.5);
                }
            }
            .loading {
                color: white;
                font-size: 25px;
            }
            .centered-stats {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                .header-title {
                    font-size: 35px;
                    padding-bottom: 1rem;
                    color: white;
                    font-weight: 800;
                }
                .articles-container {
                    padding-top: 2rem;
                    margin: auto;
                    overflow: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .header-wrapper {
        overflow: auto;
        .heading-main {
            position: relative;
            text-align: center;
            .heading-image-container {
                width: 100%;
                .trump-image {
                    width: 100%;
                    object-fit: cover;
                    filter: grayscale(0.8) brightness(0.5);
                }
            }
            .loading {
                color: white;
                font-size: 25px;
            }
            .centered-stats {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                .header-title {
                    font-size: 35px;
                    padding-bottom: 1rem;
                    color: white;
                    font-weight: 800;
                }
                .articles-container {
                    padding-top: 2rem;
                    margin: auto;
                    overflow: auto;
                }
            }
        }
    }
    
}